@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.Header {
  text-align: center;
  padding: 2% 0 0 0;
  color: #FF6E86;

  h1 {
    padding: 2% 0;
    font-size: 2.3rem;
  }

  input {
    margin-right: .5%;
    padding: .5% 1.5%;
    border-radius: 5px;
    border: none;
    background: #FFAC614D;

    &::placeholder {
      color: #FF6E86;
      text-align: left;
      font-size: .7rem;
      font-weight: bold;
    }
  }

  button {
    background: #FF6E86;
    border: none;
    padding: .5% 1.5%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
}

.Category {
  h1 {
    padding: 3% 0 1% 6%;
    color: #FF6E86;
    font-size: 2.2rem;
  }

  .CategoryGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 6%;
    padding: 3% 0 5% 0;
    gap: 20px;

    .CategoryItem {
      text-align: center;
      border-radius: 5px;
      margin: 0 3%;

      img {
        width: 70%;
        padding: 0 0 3% 0;
      }

      p {
        color: white;
        font-size: 1.5rem;
        font-weight: bolder;
        padding: 2% 0 0 0;
      }

      &:nth-of-type(odd) {
        background: #FFAC61;
      }

      &:nth-of-type(even) {
        background: #FF6E86;
      }
    }
  }
}

.SubCategoryGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 6%;
  gap: 10px;
}

.DetailItem {
  .DetailLeft {
    display: flex;
    flex-direction: column;
  }

  .DetailRight {
    display: flex;
    flex-direction: column;
  }
}

.Footer {
  text-align: center;
  padding: 0 0 1% 0;

  img {
    padding: 0 10px;
  }
}

.link {
  text-decoration: none;
}